[submodule "packages/deno-tree-sitter"]
	path = packages/tree-sitter/deno-tree-sitter
	url = git@github.com:jeff-hykin/deno-tree-sitter.git
[submodule "packages/tree-sitter/deno-tree-sitter"]
	path = packages/tree-sitter/deno-tree-sitter
	url = git@github.com:jeff-hykin/deno-tree-sitter.git
