@import './codecrock-linenumbers.css';

.codecrock-root {
  position: relative;
}

.codecrock-root .codecrock-select {
  right: 5px;
  top: 5px;
  position: absolute;
  opacity: 0;
  z-index: 99999;
}

.codecrock-root:hover .codecrock-select {
  opacity: 1;
}

.codecrock {
  font-family: monospace;
}

/* TreeSitter */

.ts-keyword {
  color: purple;
  font-weight: bold;
}
.ts-string {
  color: green;
}
.ts-comment {
  color: gray;
  font-style: italic;
}

/* Common captures */
.ts-property {
  color: #905;
} /* Property names (e.g., in objects/CSS) */
.ts-function,
.ts-function_call {
  color: #07a;
} /* Functions */
.ts-keyword {
  color: #d73;
  font-weight: bold;
} /* Keywords like if, return */
.ts-string {
  color: #690;
} /* Strings */
.ts-number {
  color: #099;
} /* Numbers */
.ts-comment {
  color: #998;
  font-style: italic;
} /* Comments */
.ts-perator {
  color: #9a6;
} /* Operators like + - = */
.ts-type {
  color: #458;
  font-weight: bold;
} /* Types */
.ts-variable,
.ts-variable_builtin {
  color: #333;
} /* Variables */
.ts-constant,
.ts-constant_builtin {
  color: #0086b3;
} /* Constants */
.ts-punctuation,
.ts-punctuation_bracket {
  color: #999;
} /* Brackets, commas */
.ts-namespace {
  color: #000;
  font-weight: bold;
}

/* More specific ones */
.ts-function_builtin {
  color: #d73;
}
.ts-keyword_operator {
  color: #d73;
}
.ts-string_special {
  color: #d44;
} /* e.g., regex */
.ts-tag {
  color: #008080;
} /* HTML/XML tags */
.ts-attribute {
  color: #e90;
} /* Attributes */

.ts-text_title {
  font-weight: bolder;
}

.ts-punctuation_special {
  color: green;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  .ts-property {
    color: #9cdcfe;
  }

  .ts-function,
  .ts-function_call,
  .ts-function_builtin {
    color: #dcdcaa;
  }

  .ts-keyword,
  .ts-keyword_operator {
    color: #c586c0;
  }

  .ts-string,
  .ts-string_special {
    color: #ce9178;
  }

  .ts-number {
    color: #b5cea8;
  }

  .ts-comment {
    color: #6a9955;
  }

  .ts-operator {
    color: #d4d4d4;
  }

  .ts-type {
    color: #4ec9b0;
  }

  .ts-variable,
  .ts-variable_builtin {
    color: #d4d4d4;
  }

  .ts-constant,
  .ts-constant_builtin {
    color: #4fc1ff;
  }

  .ts-punctuation,
  .ts-punctuation_bracket {
    color: #d4d4d4;
  }

  .ts-namespace {
    color: #c8c8c8;
  }

  .ts-tag {
    color: #569cd6;
  }

  .ts-attribute {
    color: #9cdcfe;
  }
}

.ts-diff_plus {
  color: green;
}
.ts-diff_minus {
  color: red;
}
