.codecrock-linenumbers-inner-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}

.codecrock-linenumbers {
  mix-blend-mode: initial;
  height: 100%;
  width: 40px;
  background: rgba(128, 128, 128, 0.15);
}

.codecrock-linenumber {
  position: relative;
  top: 0px;
}
