/* Typography */
.kb-editor p {
  margin-bottom: 1em;
}

.kb-editor p:first-child,
.kb-editor h1:first-child,
.kb-editor h2:first-child,
.kb-editor h3:first-child,
.kb-editor h4:first-child,
.kb-editor h5:first-child,
.kb-editor h6:first-child {
  margin-top: var(--kb-space-md);
}

.kb-editor pre {
  white-space: pre-wrap;
}

.kb-editor li {
  position: relative;
}

.kb-editor ul,
.kb-editor ol {
  padding-left: 30px;
}

.kb-editor blockquote {
  padding-left: 1em;
  border-left: 3px solid var(--kb-color-border);
  margin-left: 0;
  margin-right: 0;
  color: var(--kb-color-text-muted);
}

/* Task list items */
.kb-editor li[data-type='task_item'] {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  list-style: none;
  margin-left: -1.5em;
}

.kb-editor li[data-type='task_item'] > label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-top: 0.25em;
}

.kb-editor li[data-type='task_item'] > label input[type='checkbox'] {
  cursor: pointer;
  margin: 0;
}

.kb-editor li[data-type='task_item'] > div {
  flex: 1;
  min-width: 0;
}

.kb-editor li[data-type='task_item'] > div p {
  margin: 0;
}

.kb-editor li[data-type='task_item'][data-checked='true'] > div {
  text-decoration: line-through;
  opacity: 0.6;
}
