@import '@kerebron/extension-tables/assets/tables.css';
@import '@kerebron/extension-menu/assets/custom-menu.css';
@import '@kerebron/extension-codemirror/assets/codemirror.css';
@import '@kerebron/extension-autocomplete/assets/autocomplete.css';
@import '@kerebron/extension-basic-editor/assets/image-resize.css';
