<!doctype html>
<html>
<head>
  <meta http-equiv="refresh" content="0; url={{ src }}/" />
  <script>window.location.href = '{{ src }}/';</script>
</head>
<body>
  <p>Redirecting to <a href="{{ src }}/">{{ src }}/</a>...</p>
</body>
</html>
