name: Build anb publish NPM packages

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get tag version
        if: startsWith(github.ref, 'refs/tags/')
        id: get_tag_version
        run: echo TAG_VERSION=${GITHUB_REF/refs\/tags\//} >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: deno task -f @kerebron/odt-wasm build # Future Deno versions may add cross-package task dependencies
      - run: deno task -f @kerebron build
      #      - run: deno task -f browser- build
      - name: Build npm
        run: deno run -A ./build/build_npm.ts ${{steps.get_tag_version.outputs.TAG_VERSION}}
      - name: Publish npm
        if: startsWith(github.ref, 'refs/tags/')
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          for DIR in npm/*/* ; do cd $DIR && npm publish --access=public; cd - ; done
